<launch>
  
    <arg name="robot_name" default="tangs" />
    
    <!-- Carrega parâmetros do controlador no namespace do robô -->
    <rosparam 
        file="$(find tangs_simulation)/config/joint_trajectory_controller9.yaml" 
        command="load" 
        ns="$(arg robot_name)" 
    />


    <!-- Inicia controladores no namespace do robô -->
    <group ns="$(arg robot_name)">
        <node name="controller_spawner" pkg="controller_manager" type="spawner" 
            respawn="false" output="screen" 
                                args="tangs/arm_controller
                                      tangs/gripper_controller
                                      tangs/joint_state_controller "/>
    </group>

    <!-- Robot State Publisher no namespace do robô -->
    <group ns="$(arg robot_name)">
        <node 
            name="robot_state_publisher" 
            pkg="robot_state_publisher" 
            type="robot_state_publisher" 
            respawn="false"
            output="screen"
        />
        <remap from="/joint_states" to="/$(arg robot_name)/joint_states" />
        
    </group>



</launch>