<launch>

  <!-- USE: roslaunch tangs_arm_description start_rviz_tangs.launch -->
 
  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(find tangs_description)/urdf/tangs.urdf"/>  

  <!-- send fake joint values -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tangs_arm_description)/rviz_config/tangs_armv2.rviz"/> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tangs_description)/rviz_config/tangs_armv2.rviz"/>

</launch>