<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur10_with_gripper">

  <!-- Inclui o UR10 -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur10_macro.xacro"/>
  <xacro:ur10_robot prefix="" />

  <!-- Inclui a garra -->
  
  <!-- Inclui a garra PG70 -->
    <xacro:include filename="$(find schunk_pg70)/urdf/pg70.urdf.xacro"/>

    <!-- Adiciona a garra ao final do braço -->
    <xacro:schunk_pg70 parent="tool0" name="pg70">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:schunk_pg70>


</robot>
