<launch>
  <!-- Carrega o URDF gerado pelo xacro -->
  <param name="robot_description" command="$(find xacro)/xacro $(find ur10_with_gripper)/urdf/ur10_with_gripper.urdf.xacro" />

  <!-- Publica os estados das juntas para RViz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Permite modificar juntas via GUI (se quiser) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Roda o RViz para visualizar o robô -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur10_with_gripper)/config/ur10_with_gripper.rviz" />
</launch>
